.expertise {
	padding: 143px 0 164px;
	@media (max-width: 768px) {
		padding: 50px 0;
	}
	@media (max-width: 480px) {
		padding: 25px 0;
	}
	&__inner {
	}

	&__top {
		& + * {
			margin-top: 100px;
			@media (max-width: 768px) {
				margin-top: 25px;
			}
		}
	}

	&__title {
		& + * {
			margin-top: 89px;
			@media (max-width: 768px) {
				margin-top: 20px;
			}
		}
	}

	&__box {
		display: flex;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__stats-list {
		flex: 0 1 40%;
		& + * {
			margin-left: 30px;
			@media (max-width: 768px) {
				margin-left: unset;
			}
		}
	}

	&__item {
		& + * {
			margin-top: 28px;
		}
	}

	&__progress {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 2px;
			background: #eaeaea;
		}
	}
	&__progress-line {
		background: #000;
		height: 2px;
		position: relative;
		z-index: 2;
		span {
			display: inline-block;
			position: absolute;
			top: 0;
			right: -20px;
			font-weight: 400;
			font-size: 11px;
			line-height: 181%;
			letter-spacing: 1px;
			color: #1d1d1d;
		}
	}
	&__name {
		font-weight: 400;
		font-size: 11px;
		line-height: 181%;
		letter-spacing: 1px;
		color: #1d1d1d;
		text-transform: uppercase;
	}
	&__descr {
		flex: 0 1 60%;
		margin-top: -15px;
		@media (max-width: 768px) {
			margin-top: 15px;
		}
	}
	&__text {
		& + * {
			margin-top: 25px;
			@media (max-width: 768px) {
				margin-top: 15px;
			}
		}
	}

	&__bottom {
	}

	&__card-list {
		display: flex;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}

	&__card-item {
		flex: 0 1 33.333%;
		display: flex;
		@media (max-width: 1000px) {
			flex-direction: column;
		}
		@media (max-width: 768px) {
			flex: 0 1 50%;
			padding: 15px 5px;
		}
		@media (max-width: 768px) {
			flex: 0 1 100%;
		}
		& + * {
			margin-left: 30px;
			@media (max-width: 768px) {
				margin-left: unset;
			}
		}
	}

	&__card-icon {
		flex: 0 1 50px;
		& + * {
			margin-left: 38px;
			@media (max-width: 1000px) {
				margin-left: unset;
				margin-top: 25px;
			}
		}
	}

	&__card-descr {
		max-width: 0 1 285px;
	}

	&__card-title {
		font-family: "Raleway", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 4.29px;
		text-transform: uppercase;
		color: #333333;

		& + * {
			margin-top: 14px;
		}
	}

	&__card-text {
		color: #777;
	}
}
