@font-face {
	font-family: "Merriweather";
	src: url("../fonts/Merriweather/Merriweather-LightItalic.eot");
	src: url("../fonts/Merriweather/Merriweather-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Merriweather/Merriweather-LightItalic.woff2") format("woff2"),
		url("../fonts/Merriweather/Merriweather-LightItalic.woff") format("woff"),
		url("../fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Light.eot");
	src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
		url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
		url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Medium.eot");
	src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
		url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
	src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
		url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans/OpenSans-Light.eot");
	src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2"),
		url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"),
		url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans/OpenSans-Bold.eot");
	src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"),
		url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans/OpenSans-Regular.eot");
	src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans/OpenSans-SemiBold.eot");
	src: url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
		url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
		url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Bold.eot");
	src: url("../fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
		url("../fonts/Raleway/Raleway-Bold.woff") format("woff"),
		url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
